@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  /* border: 1px solid red; */
}

@font-face {
  font-family: 'elevate';
  src: url('../../public/Futurism.otf');
}

body {
  background-color: #3d3d3d;
  /* background-image: linear-gradient(62deg, #7baada 0%, #E0C3FC 100%); */
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9895ff79;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}