.container {
  padding: 0 2rem;
}

/* Products component */
.product_category{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  place-items: center;
  row-gap: 1em;
  align-content: space-evenly;
  justify-content: space-evenly;
  margin: 2em 4% 6em 4%;
}

.product_category > div:hover{
  animation-name: zoombg;
  background-size: 108% 108%;
  animation-duration: 0.5s;
}

@keyframes zoombg {
  from{background-size: 100% 100%;}  
  to{background-size: 108% 108%;}
}


.show_text {
  display: block;
}

.productList{
  position: relative;
}


/* Product Card */
.products_box{
  overflow-x: hidden;
}

.category{
  display: grid;
  grid-template-rows: 0.2fr auto;
}

.category_filters{
  margin:  6em 0 0 0;
}

.category_filters ul{
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.category_filters ul li{
  padding: 0.5em 0;
  background-color: #0e0e0e;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 0.5em 1.5em;
  max-width: 13em;
  border-radius: 0 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.productcard{
  width: 15em;
  padding: 1em;
  height: 20em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  display: grid;
  border-radius: 20px;
  grid-template-rows: 1fr auto;
}

.product_img{
  background-color: white;
  border-radius: 10px;
}

.product_img img{
  height: 12em;
  width: 100%;
  object-fit: contain;
}

.product_down h2{
  text-align: center;
  padding: 0.5em 0 0 0;
  overflow: hidden;
  height: 2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product_down p{
  text-align: end;
  padding: 0.5em 0;
}

.product_down button{
  text-align: center;
  height: 2em;
  background-color: #7e7e7e;
  min-width: 55%;
  margin-left: 50%;
  transform: translate(-50%);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
  transition: .4s;
  border-radius: 20px;
}

.product_down button:hover{
  scale: 1.05;
}

.product_down button:active{
  background-color: rgb(36, 36, 36);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
  scale: 0.95;
}



 @media only screen and (max-width: 769px){
  .slogen{
    font-size: 12vw;
    margin: 0 3%;
  }

  .backgroundimg > p{
    font-size: 5vw;
  }
}

@media only screen and (max-width: 560px){
  
.product_category{
  display: grid;
  grid-template-columns:0.6fr 0.6fr;
}

.productcard{
  width: 46vw;
}

}