.body {
    width: 100vw;
    height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #7baada 0%, #E0C3FC 100%);

}

.loginBox {
    width: 350px;
    border-radius: 10px;
    padding: 1.5em;
    background-color: rgba(253, 253, 253, 0.175);
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid white;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.956);

    h1 {
        color: #ffffff;
        font-weight: bold;
        font-size: 2.5rem;
        margin: .5em 0;
        padding-bottom: .2em;
        border-bottom: 2px solid white;
    }

    .inputBox {
        display: flex;
        flex-direction: column;
        gap: .2em;
        margin: 1em 0;

        p {
            color: #ffffff;
            font-size: 1.5em;
            font-weight: bold;
            margin: 0 0 .1em 0;
        }

        input {
            height: 3em;
            border-radius: 10px;
            padding: .5em;
            border: 2px solid white;
            background-color: rgba(255, 255, 255, 0);
            color: white;
            outline: none;
            font-size: 1rem;

            &::placeholder {
                color: white;
                font-size: 1rem;
            }

            &:focus {
                box-shadow: 0 0 8px rgba(255, 255, 255, 0.956);
            }
        }

        .error{
            color: #6c00d2;
            font-weight: 600;
            font-size: .9rem;
            margin: 0 0 0 1em;

        }

    }

    button {
        width: 100%;
        height: 2.2em;
        border: none;
        border-radius: 10px;
        background-color: #4fa7ff;
        color: white;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            background-color: #399cff;
        }
    }

}