.productcard {
  width: 13em;
  padding: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: grid;
  border-radius: 20px;
  grid-template-rows: 1fr auto;

  .product_img {
      background-color: white;
      border-radius: 10px;

      img {
          height: 12em;
          width: 100%;
          object-fit: contain;
      }
  }

  .product_down {

      h2 {
          text-align: center;
          padding: 0.5em 0 0 0;
          overflow: hidden;
          height: 2em;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      p {
          text-align: end;
          padding: 0.5em 0;
      }

      button {
          text-align: center;
          padding: .25em 1em;
          width: max-content;
          background-color: #101010d4;
          min-width: 55%;
          margin-left: 50%;
          transform: translate(-50%);
          color: white;
          transition: .3s;
          border-radius: 20px;
          border: 2px transparent solid;

          &:hover {
            border: 2px solid black;
            background-color: transparent;
            color: black;
          }

          &:active {
              box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
              scale: 0.95;
          }
      }
  }
}